@model SingleView
<div class="container">
    <main role="main" class="pb-3">

        <div class="row">
            <input type="hidden" id="image-id" value="@Model.picture.Id" />
            <div class="col-md-10 col-md-offset-1 well">
                <h1>@Model.picture.ImageName</h1>
                <img src="/uploads/@Model.picture.FilePath" style="width: 900px;" />
                <br />
                <br />
                @if (Model.AlreadyLiked)
                {
                    <button id="like-button" disabled class="btn btn-primary btn-lg">LIKE</button>

                }
                else
                {
                    <button id="like-button" class="btn btn-primary btn-lg">LIKE</button>

                }
                Current Likes: <span id="likes-count">@Model.picture.NumberOfLikes</span>
            </div>
        </div>


    </main>
</div>
@section Scripts{

    <script src="~/js/JavaScript1.js"></script>
}